html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	background-color: #eef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.description-ed {
    height: 10rem;
}

.modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.modal {
    width: 30%;
    min-width: 20rem;
    min-height: 18rem;
    background-color: white;
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.modal-img-container{
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.modal-post-img {
    object-fit: contain;
    width: 100%;
}

.edit-content {
	font-size: 1.2rem;
	background-color: #003;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.edit-div {
	margin: 0.03rem;
	color: #AA0;
    display: flex;
    flex-direction: column;
	padding: 0.3rem;
}

.submit-edit {
	background-color: #356;
	font-size: 1.2rem;
	border-radius: 1rem;
	margin-top: 0.5rem;	
}

div {
    display: flex;
    padding: 0;
    margin: 0;
}

button {
    outline: 0;
    border: 0;
}

header {
    min-height: 3.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
	background-color: #004;
    display: flex;
    flex-direction: row;

}

header > .title {
    display: flex;
    flex-grow: 1;
}

header > .user-info {
    font-family: Arial;
    font-size: 1.5rem;
    display: flex;
	flex-grow: 1.2;
    flex-direction: column;
    justify-content: center;
    color: #FF8;
}

header > .user {
    display: flex;
	flex-grow: 0;
	margin-bottom: 0.3rem;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    padding-left: 1rem;
}

main {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
}

main > .main {
    padding: 1rem 5rem;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > .menu {
	position: fixed;
    min-height: 100%;
	width: 15rem;
    background: url(img/menu_background.png) no-repeat;
	background-size: 100%;
    display: flex;
	justify-content: center;
    flex-direction: column;
	flex-grow: 1;
    align-items: center;
}

.add {
	cursor: pointer;
    margin-left: -1.6rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inherit;
	flex-grow: 0.7;
    border: 0;
}

.add-photo {
	display: flex;
    flex-direction: row;
    font-family: Arial;
    font-size: 1.2rem;
    font-weight: bold;
    color: #880;
    padding-left: 1.5rem;
}

.fa-plus {
	display: flex;
    flex-direction: row;
    height: 3rem;
    padding-left: 0.5rem;
    font-size: 2rem;
    color: #880;
}

.search-select {
	cursor: pointer;
    height: 1.5rem;
	margin-top: 0rem;
	margin-right: inherit;
	padding-left: 0.5rem;
	display: flex;
    flex-direction: row;
    border-radius: 2rem;
    outline: 0;
}

.search-box {
	margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-box > input {
    padding: 0.2rem;
    border-radius: 2rem;
    outline: 0;
    margin-top: 0;

}

.search-button {
    height: 2rem;
	color: #000;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: #550;
	font-size: 1.5rem;	
	margin-right: 1rem;
	margin-bottom: 5rem;
	margin-top: 1rem;
    border-radius: 2rem;
    outline: 0;
}

.post {
	background-color: #fff;
    margin: 1rem;
    height: 18rem;
    width: 20rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column;
}

.post-title {
    display: flex;
    flex-direction: row;
    padding: 1px;
}

.title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

}

.avatar {
	background-image: url(img/avatar.png);
	background-size: 100%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
	border-width: 0rem;
    border-radius: 50%;
}

.edit-button{
    background-color: inherit;
    border: 0;
    outline: 0;
}

.delete-button{
    background-color: inherit;
    border: 1;
    outline: 0;
}

.img-container {
    height: 10rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.post-img {
    object-fit: contain;
}

.description {
    padding: 0.2rem;
    flex-grow: 2;
	margin-top: 0.2rem;
	margin-left: 1rem;
	font-size: 0.9rem;
    flex-direction: column;
    justify-content: space-between;
}

.info {
    flex-grow: 1;
    font-family: Arial;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.like {
    background-color: inherit;
    border: 0;
    outline: 0;

}

.load-more {
    width: 7rem;
    min-height: 2rem;
    margin: auto;
    margin-bottom: 1rem;
	color: #fff;
    background-color: #001;
    border: 2px solid #4e5516;
	border-radius: 1rem;
    outline: 0;
}

main > footer {
	z-index: 1;
    width: 100%;
    min-height: 3rem;
    font-family: Arial;
    display: flex;
    background-color: #000;
}

footer > .title-foot {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    color: #777;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: center;

}

footer > .author {
    display: flex;
    flex-grow: 1.25;
    color: #777;
    flex-direction: column;
    justify-content: center;

}

footer > .email {
	font-size: 0.8rem;
	margin-left: 5rem;
	margin-right: 0.8rem;
    display: flex;
	flex-shrink: 2;
    color: #777;
    flex-direction: column;
    justify-content: center;

}